body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.body-width {
  max-width: 1400px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width {
  width: 1400px;
}
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 70vh;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
  width: 70%;
}

.header .title {
  width: 100%;
  text-align: center;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 1.2em;
}
.fz-header {
  font-size: 72px;
  margin-bottom: 40px;
}
.fz-header-2 {
  font-size: 48px;
}
.container {
  height: auto;
  aspect-ratio: 1.309090909090909 / 1;
  cursor: pointer;
}

.container-mark {
  position: absolute;
  inset: 0;
  background: transparent;
  width: 100%;
  height: 100%;
}

.container-meta {
  width: 100%;
  height: 100%;
}
.container-mark-title {
  position: absolute;
  top: 48px;
  left: 24px;
  opacity: 0;
  z-index: 1;
  color: white;
  font-weight: 600;
  font-size: large;
  transition: all 0.4s ease-out;
}
.container-mark-icon {
  position: absolute;
  padding: 12px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.4s ease-out;
  top: 48px;
  right: 48px;
  opacity: 0;
  z-index: 1;
}
.container:hover .container-mark{
  background-color: rgba(202, 201, 201, 0.356);
}

.container:hover .container-meta {
  filter: blur(8px);
}
.container:hover .container-mark-icon {
  top: 16px;
  right: 16px;
  opacity: 1;
}

.container:hover .container-mark-title {
  top: 28px;
  opacity: 1;
}

@media (max-width: 1440px) {
  .max-width {
    width: 1280px;
  }
}
@media (max-width: 1024px) {
  .max-width {
    width: 940px;
  }
  .fz-header {
    font-size: 48px;
  }
  .fz-header-2 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
  .max-width {
    width: 640px;
  }
  .header {
    height: 50vh;
  }
  .fz-header {
    font-size: 36px;
  }
  .fz-header-2 {
    font-size: 28px;
  }
}
@media (max-width: 425px) {
  .max-width {
    width: 400px;
  }
  .fz-header {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .fz-header-2 {
    font-size: 20px;
  }
  .header {
    height: 28vh;
    padding: 0;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 6px;
  }
  .fz-header {
    font-size: 20px;
  }
  .max-width {
    width: 300px;
  }
}